@{
    Layout = "_AdminLayout";
}

<div class="row vh-100 justify-content-center align-items-start">
    <div class="col-lg-10 text-center mt-5">
        <div class="section-title">
            <h1>Welcome Admin to KhumaloCraft Emporium!</h1>
            <h5>Your home of world-class exquisite handcrafted products from artisans around the world.</h5>
        </div>
    </div>
</div>
