@{
    ViewData["Title"] = "About Us";
}

<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <div class="section-title">
            <h1 class="mb-5">Crafting Connections Worldwide.</h1>
        </div>
    </div>
</div>

<p>
    Welcome to KhumaloCraft Emporium, where every purchase tells a story and every creation connects communities worldwide. 
    Founded by James Khumalo, we are more than just an e-commerce platform; we are a global movement celebrating the artistry and craftsmanship of artisans from every corner of the globe.
</p>

<h2>Our Mission</h2>
<p>
    Our mission is simple yet profound: to bridge the gap between artisans and enthusiasts, fostering a community where creativity thrives and connections flourish. 
    Every piece on our platform is a testament to the dedication and skill of artisans, each one adding to the rich tapestry of human expression.
</p>

<h2>Our Platform</h2>
<p>
    Built on the principles of scalability, accessibility, and inclusivity, our platform is a testament to the power of technology to unite us all. 
    With a focus on user experience and innovation, we strive to create a space where everyone feels welcome and inspired to explore the world of handcrafted treasures.
</p>

<h2>Technical Innovation</h2>
<p>
    Behind the scenes, our dedicated team of developers is hard at work overcoming technical challenges and pushing the boundaries of what's possible. 
    From cutting-edge database architecture to seamless integration of advanced features, we're committed to providing a platform that empowers artisans and delights customers.
</p>

<h2>Join Our Journey</h2>
<p>
    We invite you to join us on this journey of discovery and connection. 
    Whether you're a seasoned artisan looking to share your work or a passionate enthusiast eager to explore new horizons, KhumaloCraft Emporium is your gateway to a world of endless possibilities.
</p>

<h2>Contact Us</h2>
<div class="container">
    <p class="white-text">
        Have questions or feedback? We'd love to hear from you! Reach out to us
        <a href="@Url.Action("ContactUs", "Home")" class="links">here</a>.
    </p>
</div>

