@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <div class="section-title">
            <h1>Welcome to KhumaloCraft Emporium!</h1>
            <h5>Your home of world-class exquisite handcrafted products from artisans around the world.</h5>
            </div>
        </div>
    </div>
    <p></p>
    <div class="text-center">
        <p>KhumaloCraft Emporium is your gateway to a world of exquisite handcrafted treasures. 
            Our platform is dedicated to showcasing the talent and craftsmanship of artisans from around the globe.</p>
        <p>A platform where creativity knows no bounds: Whether you're a skilled artisan looking to share your creations or a passionate connoisseur seeking unique pieces, KhumaloCraft has something special for you.</p>
        <p>We are committed to creating a seamless shopping journey for our global customers. 
            Explore our diverse collection of handcrafted products, from intricate jewellery to stunning home decor, and experience the beauty of craftsmanship firsthand.</p>
        <p>We celebrate the art of handmade and make a meaningful impact on lives worldwide. </p>
        <p>Start exploring and discover the magic of KhumaloCraft Emporium today.</p>
        <p> </p>
        <p> </p>
        <p> </p>
            <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index">Browse</a>
    </div>

